{
  "openapi": "3.0.1",
  "info": {
    "title": "Doctavian",
    "version": "v1",
    "description": "Combined Doctavian OpenAPI specification."
  },
  "servers": [
    {
      "url": "https://api.doctavian.com"
    }
  ],
  "security": [
    {
      "bearerAuth": [],
      "apiKeyHeader": []
    },
    {
      "bearerAuth": [],
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Limits"
    },
    {
      "name": "Service"
    },
    {
      "name": "Settings"
    },
    {
      "name": "Status"
    },
    {
      "name": "Summary"
    },
    {
      "name": "User"
    },
    {
      "name": "Data Source"
    },
    {
      "name": "Data"
    },
    {
      "name": "Document"
    },
    {
      "name": "Option Value"
    },
    {
      "name": "Document Request"
    },
    {
      "name": "Document Solution Configuration"
    },
    {
      "name": "Document Solution"
    },
    {
      "name": "Document Template"
    },
    {
      "name": "Template"
    },
    {
      "name": "Comment"
    },
    {
      "name": "Envelope"
    },
    {
      "name": "Attachment"
    },
    {
      "name": "AuditTrail"
    },
    {
      "name": "Content"
    },
    {
      "name": "Folder"
    },
    {
      "name": "MFA"
    },
    {
      "name": "Signature"
    },
    {
      "name": "Auth"
    }
  ],
  "paths": {
    "/v1/common/limits/get": {
      "get": {
        "tags": [
          "Limits"
        ],
        "summary": "Get metered-dimension limits",
        "description": "Returns the caller's metered-dimension limit configuration (subscription- and user-level, monthly and yearly).",
        "operationId": "common-limits-get",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "Case-insensitive match against the allowed values below. An unrecognized value returns `INVALID_SCOPE_VALUE` (400).",
            "schema": {
              "enum": [
                "Global",
                "User",
                "Subscription",
                "Account"
              ],
              "type": "string"
            }
          },
          {
            "name": "application",
            "in": "query",
            "description": "Case-insensitive match against the allowed values below. An unrecognized value returns `INVALID_APPLICATION_VALUE` (400).",
            "schema": {
              "enum": [
                "MDS",
                "MD",
                "MCLM",
                "MHCW",
                "MH"
              ],
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "query",
            "description": "If present, must be a GUID belonging to the caller; substitutes that subscription's context for the caller's own subscription. Otherwise the caller's own subscription context is used.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "settings": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "Raw dimension name from the database."
                                  },
                                  "allocatedResources": {
                                    "type": "string",
                                    "description": "Human-readable display string, not a machine-parseable number — e.g. \"1000 per month\", \"500 per year\", \"250 per 2 years\", or \"Unlimited\". Clients needing the numeric limit should read subscriptionLimits/userLimits instead."
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "groups": {
                                    "type": "string",
                                    "description": "Comma-joined string of group names (e.g. \"Group A,Group B\") — NOT a JSON array, despite representing a list conceptually."
                                  },
                                  "pricePerUnit": {
                                    "type": "number",
                                    "description": "Omitted from the response when null.",
                                    "format": "float",
                                    "nullable": true
                                  },
                                  "subscriptionLimits": {
                                    "type": "object",
                                    "properties": {
                                      "monthly": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string",
                                              "format": "uuid"
                                            },
                                            "key": {
                                              "type": "string"
                                            },
                                            "value": {
                                              "type": "string",
                                              "description": "Current effective value. Always a string on the wire even though limit values are semantically integers."
                                            },
                                            "defaultValue": {
                                              "type": "string"
                                            },
                                            "meta": {
                                              "type": "object",
                                              "properties": {
                                                "application": {
                                                  "type": "string"
                                                },
                                                "scope": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted from the response when Guid.Empty (global WhenWritingDefault default-omission policy), not emitted as an explicit empty GUID.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "priority": {
                                                      "type": "integer",
                                                      "description": "Omitted from the response when 0, not emitted as an explicit 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Scope metadata for a setting definition (Meta.Scope)."
                                                },
                                                "category": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted when Guid.Empty.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "sortOrder": {
                                                      "type": "integer",
                                                      "description": "Omitted when 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Category (or sub-category) metadata for a setting definition. Same shape is reused for both Meta.category and Meta.subCategory."
                                                },
                                                "subCategory": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted when Guid.Empty.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "sortOrder": {
                                                      "type": "integer",
                                                      "description": "Omitted when 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Category (or sub-category) metadata for a setting definition. Same shape is reused for both Meta.category and Meta.subCategory."
                                                },
                                                "group": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted when Guid.Empty.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "key": {
                                                      "type": "string"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "sortOrder": {
                                                      "type": "integer",
                                                      "description": "Omitted when 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Group metadata for a setting definition (Meta.group)."
                                                }
                                              }
                                            }
                                          },
                                          "description": "A single effective setting value, as embedded in GET /common/limits/get's subscriptionLimits/userLimits."
                                        },
                                        "description": "Empty array (never null/omitted) when no matching *_SUBSCRIPTION_MONTH/*_USER_MONTH setting exists."
                                      },
                                      "yearly": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string",
                                              "format": "uuid"
                                            },
                                            "key": {
                                              "type": "string"
                                            },
                                            "value": {
                                              "type": "string",
                                              "description": "Current effective value. Always a string on the wire even though limit values are semantically integers."
                                            },
                                            "defaultValue": {
                                              "type": "string"
                                            },
                                            "meta": {
                                              "type": "object",
                                              "properties": {
                                                "application": {
                                                  "type": "string"
                                                },
                                                "scope": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted from the response when Guid.Empty (global WhenWritingDefault default-omission policy), not emitted as an explicit empty GUID.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "priority": {
                                                      "type": "integer",
                                                      "description": "Omitted from the response when 0, not emitted as an explicit 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Scope metadata for a setting definition (Meta.Scope)."
                                                },
                                                "category": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted when Guid.Empty.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "sortOrder": {
                                                      "type": "integer",
                                                      "description": "Omitted when 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Category (or sub-category) metadata for a setting definition. Same shape is reused for both Meta.category and Meta.subCategory."
                                                },
                                                "subCategory": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted when Guid.Empty.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "sortOrder": {
                                                      "type": "integer",
                                                      "description": "Omitted when 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Category (or sub-category) metadata for a setting definition. Same shape is reused for both Meta.category and Meta.subCategory."
                                                },
                                                "group": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted when Guid.Empty.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "key": {
                                                      "type": "string"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "sortOrder": {
                                                      "type": "integer",
                                                      "description": "Omitted when 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Group metadata for a setting definition (Meta.group)."
                                                }
                                              }
                                            }
                                          },
                                          "description": "A single effective setting value, as embedded in GET /common/limits/get's subscriptionLimits/userLimits."
                                        },
                                        "description": "Empty array (never null/omitted) when no matching *_SUBSCRIPTION_YEAR/*_USER_YEAR setting exists."
                                      }
                                    }
                                  },
                                  "userLimits": {
                                    "type": "object",
                                    "properties": {
                                      "monthly": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string",
                                              "format": "uuid"
                                            },
                                            "key": {
                                              "type": "string"
                                            },
                                            "value": {
                                              "type": "string",
                                              "description": "Current effective value. Always a string on the wire even though limit values are semantically integers."
                                            },
                                            "defaultValue": {
                                              "type": "string"
                                            },
                                            "meta": {
                                              "type": "object",
                                              "properties": {
                                                "application": {
                                                  "type": "string"
                                                },
                                                "scope": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted from the response when Guid.Empty (global WhenWritingDefault default-omission policy), not emitted as an explicit empty GUID.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "priority": {
                                                      "type": "integer",
                                                      "description": "Omitted from the response when 0, not emitted as an explicit 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Scope metadata for a setting definition (Meta.Scope)."
                                                },
                                                "category": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted when Guid.Empty.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "sortOrder": {
                                                      "type": "integer",
                                                      "description": "Omitted when 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Category (or sub-category) metadata for a setting definition. Same shape is reused for both Meta.category and Meta.subCategory."
                                                },
                                                "subCategory": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted when Guid.Empty.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "sortOrder": {
                                                      "type": "integer",
                                                      "description": "Omitted when 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Category (or sub-category) metadata for a setting definition. Same shape is reused for both Meta.category and Meta.subCategory."
                                                },
                                                "group": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted when Guid.Empty.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "key": {
                                                      "type": "string"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "sortOrder": {
                                                      "type": "integer",
                                                      "description": "Omitted when 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Group metadata for a setting definition (Meta.group)."
                                                }
                                              }
                                            }
                                          },
                                          "description": "A single effective setting value, as embedded in GET /common/limits/get's subscriptionLimits/userLimits."
                                        },
                                        "description": "Empty array (never null/omitted) when no matching *_SUBSCRIPTION_MONTH/*_USER_MONTH setting exists."
                                      },
                                      "yearly": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string",
                                              "format": "uuid"
                                            },
                                            "key": {
                                              "type": "string"
                                            },
                                            "value": {
                                              "type": "string",
                                              "description": "Current effective value. Always a string on the wire even though limit values are semantically integers."
                                            },
                                            "defaultValue": {
                                              "type": "string"
                                            },
                                            "meta": {
                                              "type": "object",
                                              "properties": {
                                                "application": {
                                                  "type": "string"
                                                },
                                                "scope": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted from the response when Guid.Empty (global WhenWritingDefault default-omission policy), not emitted as an explicit empty GUID.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "priority": {
                                                      "type": "integer",
                                                      "description": "Omitted from the response when 0, not emitted as an explicit 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Scope metadata for a setting definition (Meta.Scope)."
                                                },
                                                "category": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted when Guid.Empty.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "sortOrder": {
                                                      "type": "integer",
                                                      "description": "Omitted when 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Category (or sub-category) metadata for a setting definition. Same shape is reused for both Meta.category and Meta.subCategory."
                                                },
                                                "subCategory": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted when Guid.Empty.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "sortOrder": {
                                                      "type": "integer",
                                                      "description": "Omitted when 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Category (or sub-category) metadata for a setting definition. Same shape is reused for both Meta.category and Meta.subCategory."
                                                },
                                                "group": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string",
                                                      "description": "Omitted when Guid.Empty.",
                                                      "format": "uuid",
                                                      "nullable": true
                                                    },
                                                    "key": {
                                                      "type": "string"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "sortOrder": {
                                                      "type": "integer",
                                                      "description": "Omitted when 0.",
                                                      "nullable": true
                                                    }
                                                  },
                                                  "description": "Group metadata for a setting definition (Meta.group)."
                                                }
                                              }
                                            }
                                          },
                                          "description": "A single effective setting value, as embedded in GET /common/limits/get's subscriptionLimits/userLimits."
                                        },
                                        "description": "Empty array (never null/omitted) when no matching *_SUBSCRIPTION_YEAR/*_USER_YEAR setting exists."
                                      }
                                    }
                                  }
                                },
                                "description": "One metered dimension's limit configuration, as returned inside the `settings` array of GET /common/limits/get.",
                                "example": {
                                  "name": "ENVELOPES",
                                  "allocatedResources": "1000 per month",
                                  "displayName": "Envelopes Sent",
                                  "groups": "Signature,Core",
                                  "pricePerUnit": 0.05,
                                  "subscriptionLimits": {
                                    "monthly": [
                                      {
                                        "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                                        "key": "ENVELOPES_LIMIT_SUBSCRIPTION_MONTH",
                                        "value": "1000",
                                        "defaultValue": "500",
                                        "meta": {
                                          "application": "MH",
                                          "scope": {
                                            "name": "Subscription"
                                          },
                                          "category": {
                                            "name": "Limits"
                                          },
                                          "subCategory": {
                                            "name": "Envelopes"
                                          },
                                          "group": {
                                            "key": "limits",
                                            "name": "Limits"
                                          }
                                        }
                                      }
                                    ],
                                    "yearly": []
                                  },
                                  "userLimits": {
                                    "monthly": [],
                                    "yearly": []
                                  }
                                }
                              }
                            }
                          }
                        },
                        "statusCode": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "OK"
                        }
                      }
                    },
                    "origin": {
                      "type": "string",
                      "description": "Echoed verbatim from the request's X-Origin header, unvalidated."
                    },
                    "dateTime": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "operationId": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "result": {
                    "data": {
                      "settings": [
                        {
                          "name": "ENVELOPES",
                          "allocatedResources": "1000 per month",
                          "displayName": "Envelopes Sent",
                          "groups": "Signature,Core",
                          "pricePerUnit": 0.05,
                          "subscriptionLimits": {
                            "monthly": [
                              {
                                "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                                "key": "ENVELOPES_LIMIT_SUBSCRIPTION_MONTH",
                                "value": "1000",
                                "defaultValue": "500",
                                "meta": {
                                  "application": "MH",
                                  "scope": {
                                    "name": "Subscription"
                                  },
                                  "category": {
                                    "name": "Limits"
                                  },
                                  "subCategory": {
                                    "name": "Envelopes"
                                  },
                                  "group": {
                                    "key": "limits",
                                    "name": "Limits"
                                  }
                                }
                              }
                            ],
                            "yearly": []
                          },
                          "userLimits": {
                            "monthly": [],
                            "yearly": []
                          }
                        }
                      ]
                    },
                    "statusCode": 200,
                    "message": "OK"
                  },
                  "origin": "string",
                  "dateTime": "string",
                  "operationId": "string"
                }
              }
            }
          },
          "400": {
            "description": "Query parameter failed validation (`INVALID_APPLICATION_VALUE` or `INVALID_SCOPE_VALUE`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "INVALID_SCOPE_VALUE",
                        "message": "The provided scope value is not recognized.",
                        "userMessage": "Invalid scope value provided."
                      }
                    ],
                    "message": "The provided scope value is not recognized.",
                    "statusCode": 400
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "common-limits-get",
                  "origin": ""
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "VALIDATION_ERROR",
                        "message": "Name is required.",
                        "userMessage": "Name is required."
                      }
                    ],
                    "message": "One or more validation errors occurred.",
                    "statusCode": 400
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "00-abc123-00",
                  "origin": "self-service-portal"
                }
              }
            }
          },
          "403": {
            "description": "Caller is authenticated but not authorized to perform this action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "VALIDATION_ERROR",
                        "message": "Name is required.",
                        "userMessage": "Name is required."
                      }
                    ],
                    "message": "One or more validation errors occurred.",
                    "statusCode": 400
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "00-abc123-00",
                  "origin": "self-service-portal"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "FUNCTION_EXECUTION_ERROR",
                        "message": "An unexpected error occurred while processing the request.",
                        "userMessage": "Something went wrong. Please contact support."
                      }
                    ],
                    "message": "An unexpected error occurred while processing the request.",
                    "statusCode": 500
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "common-limits-get",
                  "origin": ""
                }
              }
            }
          }
        }
      }
    },
    "/v1/common/service/token": {
      "post": {
        "tags": [
          "Service"
        ],
        "summary": "Issue a new encrypted service token",
        "description": "Issues a short-lived, encrypted bearer token for the already-authenticated caller.",
        "operationId": "common-service-token-post",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Opaque, symmetrically-encrypted blob containing a newly-issued, \"Bearer \"-prefixed, Key-Vault-signed JWT. Not directly decodable by the client without the server-side decryption key. This is NOT wrapped in the GenericResponse envelope used elsewhere in this group."
                },
                "example": "CfDJ8N3x...opaque-encrypted-token...=="
              }
            }
          },
          "500": {
            "description": "Any failure during token generation — including an auth failure from the underlying token validation step — is caught uniformly and surfaced under this single generic code. Deliberately not documented as a range of specific auth error codes, since the masking is real code behavior, not a documentation gap to correct.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "TOKEN_GENERATION_FAILED",
                        "message": "Failed to generate a service token.",
                        "userMessage": "Something went wrong. Please contact support."
                      }
                    ],
                    "message": "Failed to generate a service token.",
                    "statusCode": 500
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "common-service-token-post",
                  "origin": ""
                }
              }
            }
          }
        }
      }
    },
    "/v1/common/settings/get": {
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "Get visible setting definitions and values",
        "description": "Returns setting definitions with their current effective values, filtered to those the caller's role/scope permits.",
        "operationId": "common-settings-get",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "Case-insensitive match against the allowed values below. An unrecognized value returns `INVALID_SCOPE_VALUE` (400).",
            "schema": {
              "enum": [
                "Global",
                "User",
                "Subscription",
                "Account"
              ],
              "type": "string"
            }
          },
          {
            "name": "application",
            "in": "query",
            "description": "Case-insensitive match against the allowed values below. An unrecognized value returns `INVALID_APPLICATION_VALUE` (400).",
            "schema": {
              "enum": [
                "MDS",
                "MD",
                "MCLM",
                "MHCW",
                "MH"
              ],
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "query",
            "description": "If present, must be a GUID belonging to the caller; substitutes that subscription's context for the caller's own subscription. Otherwise the caller's own subscription context is used.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "settings": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "key": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  },
                                  "defaultValue": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Free-form string describing the setting's value type."
                                  },
                                  "icon": {
                                    "type": "string"
                                  },
                                  "allowedValues": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "icon": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "description": "Null (not an empty array) when the setting has no enumerated allowed values configured.",
                                    "nullable": true
                                  },
                                  "meta": {
                                    "type": "object",
                                    "properties": {
                                      "application": {
                                        "type": "string"
                                      },
                                      "scope": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "Omitted from the response when Guid.Empty (global WhenWritingDefault default-omission policy), not emitted as an explicit empty GUID.",
                                            "format": "uuid",
                                            "nullable": true
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "priority": {
                                            "type": "integer",
                                            "description": "Omitted from the response when 0, not emitted as an explicit 0.",
                                            "nullable": true
                                          }
                                        },
                                        "description": "Scope metadata for a setting definition (Meta.Scope)."
                                      },
                                      "category": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "Omitted when Guid.Empty.",
                                            "format": "uuid",
                                            "nullable": true
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "description": {
                                            "type": "string"
                                          },
                                          "sortOrder": {
                                            "type": "integer",
                                            "description": "Omitted when 0.",
                                            "nullable": true
                                          }
                                        },
                                        "description": "Category (or sub-category) metadata for a setting definition. Same shape is reused for both Meta.category and Meta.subCategory."
                                      },
                                      "subCategory": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "Omitted when Guid.Empty.",
                                            "format": "uuid",
                                            "nullable": true
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "description": {
                                            "type": "string"
                                          },
                                          "sortOrder": {
                                            "type": "integer",
                                            "description": "Omitted when 0.",
                                            "nullable": true
                                          }
                                        },
                                        "description": "Category (or sub-category) metadata for a setting definition. Same shape is reused for both Meta.category and Meta.subCategory."
                                      },
                                      "group": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "Omitted when Guid.Empty.",
                                            "format": "uuid",
                                            "nullable": true
                                          },
                                          "key": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "description": {
                                            "type": "string"
                                          },
                                          "sortOrder": {
                                            "type": "integer",
                                            "description": "Omitted when 0.",
                                            "nullable": true
                                          }
                                        },
                                        "description": "Group metadata for a setting definition (Meta.group)."
                                      }
                                    }
                                  }
                                },
                                "description": "A single setting definition with its current effective value, as returned by GET /common/settings/get.",
                                "example": {
                                  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                                  "key": "ALLOWED_SIGNATURE_INPUT_METHOD",
                                  "label": "Allowed Signature Input Method",
                                  "description": "Controls which signature input methods are permitted.",
                                  "value": "Draw,Type",
                                  "defaultValue": "Draw,Type,Upload",
                                  "type": "string",
                                  "icon": "signature",
                                  "allowedValues": "",
                                  "meta": {
                                    "application": "MH",
                                    "scope": {
                                      "name": "Account"
                                    },
                                    "category": {
                                      "name": "Signing"
                                    },
                                    "subCategory": {
                                      "name": "Input"
                                    },
                                    "group": {
                                      "key": "signing",
                                      "name": "Signing"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "statusCode": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "OK"
                        }
                      }
                    },
                    "origin": {
                      "type": "string",
                      "description": "Echoed verbatim from the request's X-Origin header, unvalidated."
                    },
                    "dateTime": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "operationId": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "result": {
                    "data": {
                      "settings": [
                        {
                          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "key": "ALLOWED_SIGNATURE_INPUT_METHOD",
                          "label": "Allowed Signature Input Method",
                          "description": "Controls which signature input methods are permitted.",
                          "value": "Draw,Type",
                          "defaultValue": "Draw,Type,Upload",
                          "type": "string",
                          "icon": "signature",
                          "allowedValues": "",
                          "meta": {
                            "application": "MH",
                            "scope": {
                              "name": "Account"
                            },
                            "category": {
                              "name": "Signing"
                            },
                            "subCategory": {
                              "name": "Input"
                            },
                            "group": {
                              "key": "signing",
                              "name": "Signing"
                            }
                          }
                        }
                      ]
                    },
                    "statusCode": 200,
                    "message": "OK"
                  },
                  "origin": "string",
                  "dateTime": "string",
                  "operationId": "string"
                }
              }
            }
          },
          "400": {
            "description": "Query parameter failed validation (`INVALID_APPLICATION_VALUE` or `INVALID_SCOPE_VALUE`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "INVALID_SCOPE_VALUE",
                        "message": "The provided scope value is not recognized.",
                        "userMessage": "Invalid scope value provided."
                      }
                    ],
                    "message": "The provided scope value is not recognized.",
                    "statusCode": 400
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "common-settings-get",
                  "origin": ""
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "VALIDATION_ERROR",
                        "message": "Name is required.",
                        "userMessage": "Name is required."
                      }
                    ],
                    "message": "One or more validation errors occurred.",
                    "statusCode": 400
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "00-abc123-00",
                  "origin": "self-service-portal"
                }
              }
            }
          },
          "403": {
            "description": "Caller is authenticated but not authorized to perform this action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "VALIDATION_ERROR",
                        "message": "Name is required.",
                        "userMessage": "Name is required."
                      }
                    ],
                    "message": "One or more validation errors occurred.",
                    "statusCode": 400
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "00-abc123-00",
                  "origin": "self-service-portal"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "FUNCTION_EXECUTION_ERROR",
                        "message": "An unexpected error occurred while processing the request.",
                        "userMessage": "Something went wrong. Please contact support."
                      }
                    ],
                    "message": "An unexpected error occurred while processing the request.",
                    "statusCode": 500
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "common-settings-get",
                  "origin": ""
                }
              }
            }
          }
        }
      }
    },
    "/v1/common/settings/update": {
      "put": {
        "tags": [
          "Settings"
        ],
        "summary": "Update one or more setting values",
        "description": "Applies a batch of setting writes. Each item is checked against the caller's role/scope permission and the per-setting validation rules before being persisted as a single batch.",
        "operationId": "common-settings-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettingsRequestDto"
              },
              "example": {
                "settings": [
                  {
                    "settingDefinitionId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "settingScopeId": "5a2e7b10-8c3e-4a1a-9e3a-1f2b3c4d5e6f",
                    "scope": "account",
                    "value": "5",
                    "entityId": "7c9e6679-7425-40de-944b-e07fc1f90ae7"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "enum": [
                            "Success"
                          ],
                          "type": "string",
                          "description": "Plain literal success string — not an object."
                        },
                        "statusCode": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "OK"
                        }
                      }
                    },
                    "origin": {
                      "type": "string",
                      "description": "Echoed verbatim from the request's X-Origin header, unvalidated."
                    },
                    "dateTime": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "operationId": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "result": {
                    "data": "Success",
                    "statusCode": 200,
                    "message": "OK"
                  },
                  "origin": "string",
                  "dateTime": "string",
                  "operationId": "string"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed for one or more settings in the batch. Possible codes: VALIDATION_ERROR, ENVELOPE_FIRST_REMINDER_DAYS_OUT_OF_RANGE, ENVELOPE_REPEATING_REMINDER_DAYS_OUT_OF_RANGE, ENVELOPE_EXPIRY_DAYS_TOO_LOW, ENVELOPE_EXPIRY_ALERT_DAYS_TOO_LOW, ENVELOPE_EXPIRY_ALERT_DAYS_EXCEEDS_EXPIRATION, NO_SIGNATURE_INPUT_METHOD, NO_DOCUMENT_SOURCE, INVALID_REDIRECT_AFTER_SIGNING_URL, INVALID_CONTACT_EMAIL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "INVALID_LIMIT_VALUE",
                        "message": "Limit value must be a non-negative integer or blank.",
                        "userMessage": "Please provide a valid limit value."
                      }
                    ],
                    "message": "Limit value must be a non-negative integer or blank.",
                    "statusCode": 400
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "common-settings-update",
                  "origin": ""
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "VALIDATION_ERROR",
                        "message": "Name is required.",
                        "userMessage": "Name is required."
                      }
                    ],
                    "message": "One or more validation errors occurred.",
                    "statusCode": 400
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "00-abc123-00",
                  "origin": "self-service-portal"
                }
              }
            }
          },
          "403": {
            "description": "Caller's role does not permit this write (`PERMISSION_DENIED`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "UPDATE_SETTINGS_PERMISSION_DENIED",
                        "message": "Caller is not permitted to update this setting.",
                        "userMessage": "You do not have permission to update this setting."
                      }
                    ],
                    "message": "Caller is not permitted to update this setting.",
                    "statusCode": 403
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "common-settings-update",
                  "origin": ""
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error; the whole batch is rolled back if this occurs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "SETTING_UPDATE_FAILED",
                        "message": "Failed to persist one or more settings.",
                        "userMessage": "Something went wrong. Please contact support."
                      }
                    ],
                    "message": "Failed to persist one or more settings.",
                    "statusCode": 500
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "common-settings-update",
                  "origin": ""
                }
              }
            }
          }
        }
      }
    },
    "/v1/common/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Health-ping placeholder",
        "description": "The only fully anonymous, unauthenticated operation in this group (AuthorizationLevel.Anonymous; never calls the custom bearer/JWT validation used by every other operation here). It is a genuine placeholder: no dependencies, no logic, always returns HTTP 200 with an empty string body as long as the Function host itself is up. Do not confuse this with the unrelated GET /common/diagnostic/status endpoint (not in this group), which uses the StatusResult model and requires standard auth. The APIM-level subscription-key gate (X-Api-Key / x-api-key) may still legitimately apply at the gateway regardless of this operation's own Anonymous auth level — that is a distinct layer from the Function's own (absent, here) auth check.",
        "operationId": "common-status",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "enum": [
                    ""
                  ],
                  "type": "string",
                  "description": "Always the literal empty string, as long as the Function host is up. No version info, no dependency health checks. This is NOT the StatusResult shape used by the unrelated /common/diagnostic/status endpoint."
                },
                "example": ""
              }
            }
          }
        }
      }
    },
    "/v1/common/summary": {
      "get": {
        "tags": [
          "Summary"
        ],
        "summary": "Get a dashboard or self-service summary",
        "description": "Returns one of two response shapes, selected by the required `type` query parameter: `dashboard` returns per-caller envelope/task counts; `self-service` returns subscription/user/limit-breach aggregates the caller can administer.",
        "operationId": "common-summary",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Matched case-insensitively against `dashboard`/`self-service`. A missing or unrecognized value returns `INVALID_SUMMARY_TYPE` (400).",
            "required": true,
            "schema": {
              "enum": [
                "dashboard",
                "self-service"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "todo": {
                              "type": "integer",
                              "description": "Count of \"In Progress\" envelopes where the caller is the current/next signer.",
                              "nullable": true
                            },
                            "pending": {
                              "type": "integer",
                              "description": "\"In Progress\" envelopes waiting on someone else, or already completed by this signer.",
                              "nullable": true
                            },
                            "inbox": {
                              "type": "integer",
                              "description": "Envelopes not Draft/Deleted where the caller is next signer in order.",
                              "nullable": true
                            },
                            "expiring": {
                              "type": "integer",
                              "description": "\"In Progress\" envelopes expiring within [0, AlertDaysBeforeExpiry] days.",
                              "nullable": true
                            },
                            "completed": {
                              "type": "integer",
                              "description": "Envelopes with Status = 'Completed'.",
                              "nullable": true
                            },
                            "recentEnvelopes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string"
                                  }
                                },
                                "description": "One row of the dashboard summary's recentEnvelopes list."
                              },
                              "description": "Top 3, terminal-status envelopes owned by the caller, ordered by send date descending."
                            },
                            "oldestTodoEnvelopes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "sendDate": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "userName": {
                                    "type": "string",
                                    "description": "Submitter's full name."
                                  },
                                  "tid": {
                                    "type": "string",
                                    "description": "Transaction token GUID; may be absent/null if none exists for this envelope.",
                                    "format": "uuid",
                                    "nullable": true
                                  }
                                },
                                "description": "One row of the dashboard summary's oldestTodoEnvelopes list."
                              },
                              "description": "Top 5 oldest \"todo\" envelopes, ordered by send date ascending."
                            },
                            "latestPendingEnvelopes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "action": {
                                    "type": "string"
                                  },
                                  "timestamp": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "person": {
                                    "type": "string",
                                    "description": "Coalesced: submitter full name, else signer name, else literal \"N/A\"."
                                  }
                                },
                                "description": "One row of the dashboard summary's latestPendingEnvelopes list (the latest audit event per pending envelope)."
                              },
                              "description": "Top 5, latest audit event per pending envelope."
                            }
                          },
                          "description": "Response data for GET /common/summary?type=dashboard.",
                          "example": {
                            "todo": 3,
                            "pending": 1,
                            "inbox": 5,
                            "expiring": 0,
                            "completed": 42,
                            "recentEnvelopes": [
                              {
                                "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                                "name": "NDA - Acme Corp",
                                "status": "Completed"
                              }
                            ],
                            "oldestTodoEnvelopes": [
                              {
                                "id": "5a2e7b10-8c3e-4a1a-9e3a-1f2b3c4d5e6f",
                                "name": "Vendor Agreement",
                                "sendDate": "2026-06-01T12:00:00.0000000+00:00",
                                "userName": "Jane Submitter",
                                "tid": "7c9e6679-7425-40de-944b-e07fc1f90ae7"
                              }
                            ],
                            "latestPendingEnvelopes": [
                              {
                                "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                                "name": "Offer Letter",
                                "action": "Viewed",
                                "timestamp": "2026-07-01T12:00:00.0000000+00:00",
                                "person": "John Signer"
                              }
                            ]
                          }
                        },
                        "statusCode": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "OK"
                        }
                      }
                    },
                    "origin": {
                      "type": "string",
                      "description": "Echoed verbatim from the request's X-Origin header, unvalidated."
                    },
                    "dateTime": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "operationId": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "result": {
                    "data": {
                      "todo": 3,
                      "pending": 1,
                      "inbox": 5,
                      "expiring": 0,
                      "completed": 42,
                      "recentEnvelopes": [
                        {
                          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "name": "NDA - Acme Corp",
                          "status": "Completed"
                        }
                      ],
                      "oldestTodoEnvelopes": [
                        {
                          "id": "5a2e7b10-8c3e-4a1a-9e3a-1f2b3c4d5e6f",
                          "name": "Vendor Agreement",
                          "sendDate": "2026-06-01T12:00:00.0000000+00:00",
                          "userName": "Jane Submitter",
                          "tid": "7c9e6679-7425-40de-944b-e07fc1f90ae7"
                        }
                      ],
                      "latestPendingEnvelopes": [
                        {
                          "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                          "name": "Offer Letter",
                          "action": "Viewed",
                          "timestamp": "2026-07-01T12:00:00.0000000+00:00",
                          "person": "John Signer"
                        }
                      ]
                    },
                    "statusCode": 200,
                    "message": "OK"
                  },
                  "origin": "string",
                  "dateTime": "string",
                  "operationId": "string"
                }
              }
            }
          },
          "400": {
            "description": "The `type` query parameter was missing, empty, or did not match one of the two recognized literal values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "INVALID_SUMMARY_TYPE",
                        "message": "The provided summary type is not recognized.",
                        "userMessage": "Please provide a valid summary type."
                      }
                    ],
                    "message": "The provided summary type is not recognized.",
                    "statusCode": 400
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "common-summary",
                  "origin": ""
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "VALIDATION_ERROR",
                        "message": "Name is required.",
                        "userMessage": "Name is required."
                      }
                    ],
                    "message": "One or more validation errors occurred.",
                    "statusCode": 400
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "00-abc123-00",
                  "origin": "self-service-portal"
                }
              }
            }
          },
          "403": {
            "description": "Caller is authenticated but not authorized to perform this action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "VALIDATION_ERROR",
                        "message": "Name is required.",
                        "userMessage": "Name is required."
                      }
                    ],
                    "message": "One or more validation errors occurred.",
                    "statusCode": 400
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "00-abc123-00",
                  "origin": "self-service-portal"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessErrorResponse"
                },
                "example": {
                  "error": {
                    "innerErrors": [
                      {
                        "code": "FUNCTION_EXECUTION_ERROR",
                        "message": "An unexpected error occurred while processing the request.",
                        "userMessage": "Something went wrong. Please contact support."
                      }
                    ],
                    "message": "An unexpected error occurred while processing the request.",
                    "statusCode": 500
                  },
                  "dateTime": "2026-01-01T12:00:00.0000000+00:00",
                  "operationId": "common-summary",
                  "origin": ""
                }
              }
            }
          }
        }
      }
    },
    "/v1/common/user/contact/create": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Create a user contact",
        "description": "Creates a contact owned by the calling user. `sharedWithAccount` is always derived from the caller's account settings; any value sent in the request body is ignored.",
        "operationId": "common-user-contact-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserContactCreateRequestDto"
              },
              "example": {
                "name": "Jane Doe",
                "email": "jane.doe@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "userContact": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "sharedWithAccount": {
                                  "type": "boolean",
                                  "description": "Absent from the response when false, rather than serialized as an explicit false (global WhenWritingDefault default-omission policy) — a missing key means false/not-shared, not \"unspecified\"."
                                },
                                "subscriptionUserGuid": {
                                  "type": "string",
                                  "description": "Display-only; identifies the contact's owning user. Omitted when Guid.Empty.",
                                  "format": "uuid",
                                  "nullable": true
                                }
                              },
                              "description": "Response representation of a user contact.",
                              "example": {
                                "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                                "name": "Jane Doe",
                                "email": "jane.doe@example.com",
                                "sharedWithAccount": true,
                                "subscriptionUserGuid": "7c9e6679-7425-40de-944b-e07fc1f90ae7"
                              }
                            }
                          }
                        },
                        "statusCode": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "OK"
                        }
                      }
                    },
                    "origin": {
                      "type": "string",
                      "description": "Echoed verbatim from the request's X-Origin header, unvalidated."
                    },
                    "dateTime": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "operationId": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "result": {
                    "data": {
                      "userContact": {
                        "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                        "name": "Jane Doe",
[...]
